<!DOCTYPE html>
<html>
	<head>

		<title>JobPortalDemo</title>	
		
	</head>
	<body class="login-bg">
	
		
		<div class="login-box">
			<div class="container">
				<div class="login-logo">
					<!-- <img src="/logo.png" alt="logo" /> -->
				</div>		 
				
				<%= form_for @user, url: users_path, method: :post do |f|%>

					<div class="login-box-body">
						<h1 class="login-heading text-center">Sign Up</h1>
						<div class="row">
							<div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">											
								<div class="login-form">								
									<div class="form-group">
										<%= f.select :role,options_for_user_role_select, class: 'form-control select_field', id: "user_role", required: true, placeholder: "User Name"%>
									</div>
									<div class="form-group">
										<%= f.text_field :name, class: 'form-control', required: true, placeholder: "User Name"%>
									</div>
									
									<div class="form-group">
										<%= f.email_field :email, class: 'form-control', required: true,placeholder: "Email"%>
									</div>
									<div class="form-group">
										<%= f.text_field :mobile, class: 'form-control', required: true, placeholder: "Mobile"%>
									</div>
									<div class="form-group">
										<%= f.text_field :dob, class: "form-control", placeholder: "Date of Birth", required: true, :id=> 'userdatetimepicker1', value: (f.object.dob.to_date.strftime("%d/%m/%Y %I:%M %p") rescue "")%>
									</div>
									<div class="form-group">
										<%= f.select :gender,options_for_user_gender_select, class: 'form-control', required: true, placeholder: "Gender"%>
									</div>
									<div class="form-group">
										<%= f.text_field :address, class: 'form-control', required: true, placeholder: "Address"%>
									</div>
									<div class="form-group company_name" id="company_name">
										<%= f.text_field :company_name, class: 'form-control', placeholder: "Company Name"%>
									</div>
									
									<div class="form-group">
										<%= f.password_field :password, class: 'form-control', required: true, placeholder: "Password"%>
									</div>
									<div class="form-group">
										<%= f.password_field :password_confirmation, class: 'form-control', required: true,placeholder: "Confirm Password"%>
									</div>
									<button type="submit" class="btn btn-submit btn-block">Sign Up</button>
								</div>
								<div class="separator"></div>
								<div class="text-center login-msg m-t-20">
									Already have an account? <a href="/sessions/new" class="blue-a"><strong>Login</strong></a> Here
								</div>		
							</div>
						</div>
					</div>
				<%end%>
			</div>						
		</div>
		<!-- /.login-box -->
	</body>
</html>
<script type="text/javascript">
  $(document).ready(function(){
    $('#userdatetimepicker1').datetimepicker({
      format: 'd/m/Y',
      useCurrent: false,
      timepicker: false,
      maxDate: new Date()
    });
    window.onload = function() {
      var myInput = document.getElementById('userdatetimepicker1');
      myInput.onpaste = function(e) {
        e.preventDefault();
      }
    }
  });
</script>